<div *ngIf="showModal" class="modal">
  <div class="modal-content container gap-2">
    <div class="row">
      <p class="ps-0 mb-1">Descrição:</p>
      <textarea
        class="form-control"
        name="description"
        rows="15"
        [(ngModel)]="description"
      ></textarea>
    </div>
    <div class="row mx-5">
      <div class="d-flex gap-3 justify-content-center">
        <button class="submit-button btn" type="submit" (click)="onSubmit()">Salvar</button>
        <button class="close-button btn" (click)="close()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
