.badge {
  width: 4.25rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: red;
  border-radius: 100px;
  font-size: xx-small;
  font-family: Inter;
}

p {
  font-family: Inter;
  font-weight: 450;
  font-size: 0.9rem;
}

.card {
  min-height: 113.42px;
}

.badge {
  font-size: 0.7rem;
}

h4 {
  font-size: small;
  font-weight: 400;
  margin-bottom: 0rem;
}

.high-priority {
  background-color: #ff0000;
}
.medium-priority {
  background-color: #f4c430;
}
.low-priority {
  background-color: #09c184;
}