<div id="teste" class="card m-3 shadow border-1 border-success">
  <div class="header d-flex justify-content-between">
    <div class="badge text-white m-2 d-flex justify-content-between gap-1">
      <img class="bg-red" src="../../assets/icons/check-all.svg" alt="check" />
      {{ task.priority }}
    </div>
    <div class="mt-1 me-2">
      <img src="../../assets/icons/trash.svg" alt="trash" />
      <img src="../../assets/icons/pencil-square.svg" alt="edit" />
    </div>
  </div>
  <p class="ms-2">{{ task.name }}</p>
  <div class="mb-2 ms-2 d-flex align-items-center">
    <img src="../../assets/icons/stopwatch.svg" alt="watch" />
    <h4 class="ms-1">{{task.date}}</h4>
    <img class="ms-2" src="../../assets/icons/cloud-lightning-rain.svg" alt="lightning"> <!--Proveniente da API-->
    <button (click)="openModal()"><img class="ms-2" src="../../assets/icons/text-left.svg" alt="text"></button>
  </div>
</div>
