.badge {
  width: 4.25rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: red;
  border-radius: 100px;
  font-size: xx-small;
  font-family: Inter;
}

p {
  font-family: Inter;
  font-weight: 450;
  font-size: 0.9rem;
}

.badge {
  font-size: 0.7rem;
}

h4 {
  font-size: small;
  font-weight: 400;
  margin-bottom: 0rem;
}