<div class="card m-3 shadow border-1 border-success">
  <div class="header d-flex justify-content-between">
    <div
      [ngClass]="{
        'high-priority': task.priority === 'Alta',
        'medium-priority': task.priority === 'Média',
        'low-priority': task.priority === 'Baixa'
      }"
      class="badge text-white m-2 d-flex justify-content-between gap-1"
    >
      <img
        [ngClass]="{
          'high-priority': task.priority === 'Alta',
          'medium-priority': task.priority === 'Média',
          'low-priority': task.priority === 'Baixa'
        }"
        class="bg-red"
        src="../../assets/icons/check-all.svg"
        alt="check"
      />
      {{ task.priority }}
    </div>
    <div class="mt-1 me-2">
      <a (click)="deleteCard(task.id)"
        ><img src="../../assets/icons/trash.svg" alt="trash"
      /></a>
      <a (click)="openEditModal(task.id)"
        ><img src="../../assets/icons/pencil-square.svg" alt="edit"
      /></a>
    </div>
  </div>
  <p class="ms-2">{{ task.name }}</p>
  <div class="mb-2 ms-2 d-flex align-items-center">
    <img src="../../assets/icons/stopwatch.svg" alt="watch" />
    <h4 class="ms-1">{{ task.date | date : "dd/MM/yyyy" }}</h4>
    <img
      class="ms-2"
      [src]="getWeatherIcon(task.weather[0])"
      alt="lightning"
    />
    <!--Proveniente da API-->
    <a (click)="openModal(task.id)"
      ><img class="ms-2" src="../../assets/icons/text-left.svg" alt="text"
    /></a>
  </div>
</div>
