@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

:root {
  --bs-primary: #0a8967;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}
