<div class="container text-center">
  <div class="row">
    <img
      class="logo col"
      src="../../assets/images/collorfull-logo.svg"
      alt="logo"
      height="80"
    />
  </div>
  <div class="row mx-3 mb-5 gap-3">
    <div class="input-group">
      <span class="input-group-text"><img src="../../assets/icons/person-fill.svg" alt="icon"></span>
      <input class="input form-control px-3" type="text" placeholder="Usuário" />
    </div>
    <div class="input-group">
      <span class="input-group-text"><img src="../../assets/icons/key-fill.svg" alt="icon"></span>
      <input class="input form-control px-3" type="password" placeholder="Senha" />
    </div>
    <div class="input-group">
      <span class="input-group-text"><img src="../../assets/icons/key-fill.svg" alt="icon"></span>
      <input class="input form-control px-3" type="password" placeholder="Repita a senha" />
    </div>
  </div>
  <div class="button row mb-4">
    <button class="btn">Cadastrar</button>
  </div>
  <div class="row">
    <p class="mb-0">
      Já possui cadastro?
      <br />
      <a routerLink="/login">Clique aqui!</a>
    </p>
  </div>
</div>
